*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(28,42,69);
    font-family: roboto, sans-serif;}

header{
    background-color: rgb(28,42,69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;

}

.heading{
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

ul{
    display: flex;
    gap: 20px;
}


a{color: white;}

.login{margin: 1rem;}

.s1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.s1d1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    max-width: fit-content;
    margin: auto;
}

.s1img1{
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
}

.s1d1-1{
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(28,42,69);
    margin-bottom: 5rem ;
    text-align: center;}

.s1d1-2, .s1d1-3{
    line-height: 1.8em;
    font-size: 1rem;
    text-align: center;
    max-width: 70vw;
}

@media screen and (max-width: 900px){
    nav{
     display: none;
    }
}

@media screen and (max-width: 500px){

    .s1d1-1{
        font-size: 2.8rem;
        margin-bottom: 4rem;
    }

    .s1d1-2, .s1d1-3{
        font-size: 0.8rem;
    }



}
    

